%h1 Hello #{@user.email}

%p Here goes the daily report of corruption cases. I hope you hate it as much as we do.
= link_to "View Report", daily_corruption_report_url(@report)

%p Cheers,

%p The Corruption Watch